
  .box__paragraph{
    padding-right: 0;
  }

.container__second-part{
    max-width: 1200px;
height: 500px;
display: flex;
background: #FFFFFF;
border: 1.5px solid #E5E7EA;
border-radius: 20px;
margin-top: 150px;
}
.seecond_part-info{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    margin-right: 60px;
}
.text-part{
    font-weight: 600;
font-size: 36px;
line-height: 44px;
}
.part-text{
    width: 590px;
}
.text-2part{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #555555;
margin-bottom: 120px;
}
.end-box{
    position: relative;
    width: 200px;
height: 160px;
background: #F5F5F5;
border-radius: 16px;
padding: 15px;
}
.text-end{
    display: flex;
    align-items: center;
    gap: 15px;
}
.end-text{
    font-weight: 500;
font-size: 20px;
line-height: 22px;
margin-top: 60px;
color: #000000;
}
.end-icon{
    display: block;
    text-align: right;
    position: absolute;
        right: 10.87%;
    top: 13.54%;
  }
